<p>
  <a href="/new-recipe">New Recipe</a>
</p>

  <header class="page-header">
    <h1>
      {{recipe.title}} <br />
      <small data-ng-if="recipe.servings">Serves {{recipe.servings}}</small>
    </h1>
  </header>

  <section ng-model="recipe.description">
    {{recipe.description}}
  </section>

  <div class="row">
    <section class="col-md-4">
      <h3>Ingredients</h3>
      <div class="pre" data-ng-model="recipe.Ingredients">{{recipe.ingredients}}</div>
    </section>


    <section class="col-md-8">
      <h3>Directions</h3>
      <div class="pre" data-ng-model="recipe.instructions">{{recipe.directions}}</div>
    </section>
  </div><!--row-->
