<p>
  <a href="/new-recipe">New Recipe</a>
</p>
<section>
  <header>
    <h1 ng-model="recipe.title" contenteditable>{{recipe.title}}</h1>
    <h2>Serves <span ng-model="recipe.servings" contenteditable>{{recipe.servings}}</span></h2>
  </header>

  <section ng-model="recipe.description" contenteditable>
    {{recipe.description}}
  </section>

  <section>
    <h2>Ingredients</h2>
    <div ng-model="recipe.Ingredients" contenteditable>
    {{recipe.ingredients}}
    </div>
  </section>


  <section>
    <h2>Instructions</h2>
    <div ng-model="recipe.instructions" contenteditable>
    {{recipe.instructions}}
    </div>
  </section>
</section>
