<form form-new-recipe>
  <p><input placeholder="Title" name="title" data-ng-model="recipe.title"/></p>
  <p>Servings:
    <input type="number" placeholder="Servings" name="servings" data-ng-model="recipe.servings"/>
  </p>
  <p>Description: <textarea name="description" data-ng-model="recipe.description"></textarea></p>
  <p>Ingredients: <textarea name="ingredients" data-ng-model="recipe.ingredients"></textarea></p>
  <p>Instructions: <textarea name="instructions" data-ng-model="recipe.instructions"></textarea></p>
  <p><button type="submit">Add</button></p>
</form>
